<footer class="footer bg-transparent py-3 mt-auto" style="text-align: center;color:snow;">
    <div class="container">
        <span class="text-white footer" style="color:snow;">&copy; The Yummy Café 2021</span>
    </div> 
    <!-- &copy; The Yummy Café 2021 -->
</footer>