body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),
    url("bg_dark.webp");
    /* background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    image-rendering: optimizeQuality;
 }
#map{
    margin-left: 25px;
    height:500px;
    width:500px;
}
a[href="/restaurants"]{
    color:white;
    border-bottom:0.25rem solid white;
}
img{
    width:500px;
    image-rendering:optimizeQuality;
    height:500px;
}
.mb-2{
    text-align: center;
}
.form-control{
    border-radius: 18px;
    width: 900px;
}
.card{
    margin-top: 50px;
    background: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0,0,0,0.4));
    backdrop-filter: blur(9px);
    width:1190px;
    background-attachment: fixed;
}
.nav-link:hover{
    border-bottom:0.25rem solid rgba(0, 0, 255, 0.692);
}
*{
    color:snow;
}
.list-group list-group-flush{
    background: transparent;
    background-image: linear-gradient(rgba(90,0,0,0.3),rgba(0,0,0,0.4));
    backdrop-filter: blur(9px);
}
.list-group-text-muted{
    background: transparent;
    background-image: linear-gradient(rgba(90,0,0,0.3),rgba(0,0,0,0.4));
    backdrop-filter: blur(9px);
}
.list-group-item{
    background: transparent;
    background-image: linear-gradient(rgba(90,0,0,0.3),rgba(0,0,0,0.4));
    backdrop-filter: blur(9px);
}
.card-link{
    border:1px solid snow;
    color:darkgray;
    background-color: darkred;
}
.btn{
    border:2px solid snow;
    color:snow;
    background-color: transparent;
}
.btn-success{
    border: 1px solid snow;
    color:snow;
    box-shadow: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.2));
}
.about{
    justify-content: center;
}
.card-body{
    justify-content: center;
}
.card-text{
    justify-content: center;
}
.card-title{
    justify-content: center;
}