body{
    height:100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),
    url("https://res.cloudinary.com/diyscwbit/image/upload/v1617113091/restaurant_review/bg_dark_iyv5u9.webp");
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-shadow:0 0.05rem 0.1rem rgba(0,0,0,0.6);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.6);
    backdrop-filter: blur(9px);
}

a[href="/restaurants"]{
    color:white;
    border-bottom:0.25rem solid white;
}
h1{
    color:snow;
    font-weight: bold;
    text-align: center;;
}
.btn-primary{
    background-color: gray;
    border: 2px solid white;
} 
.nav-link:hover{
    border-bottom:0.25rem solid rgba(0, 0, 255, 0.692);
}
label{
    color:snow;
    font-weight:lighter;
}
.btn:hover{
    background-color: blue;
}

a.btn{
    display:inline-block;
}