body{
    background-image: url("bg_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
/* body{
    /* background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    background-size:cover;
    background-position: center;
    text-shadow:0 0.05rem 0.1rem rgba(0,0,0,0.6);
    /* box-shadow: inset 0 0 5rem rgba(0,0,0,0.6); 
    background-repeat:no-repeat; 
    scroll-behavior: smooth;
    background-attachment:fixed;

} */
h1{
    color:snow;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.cd{
    background-size:cover;
    background-position: center;
    background:transparent;
}
h5{
    color:snow;
}
p{
    font-size: small;
    color:snow;
    font-weight: bold;
}
img{
    height:100px;
    width:220px; 
    /*background: linear-gradient(darkred,darkblue,black);*/
}
a{
    text-decoration: none;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    overflow:hidden;
    /* margin-left: 15px; */
  }

  .grid-item {
    border: 3px solid snow;
    /*padding: 10px; */
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left:27px; 
    text-align: center;
    transition: all .2s ease-in-out;
    overflow:hidden;
    background: linear-gradient(darkred,darkblue,black);
    justify-content:center;
}
a img{
    width: 180px;
}
.grid-item:hover{
    border: 3px solid darkred;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: midnightblue;
    background:linear-gradient(lightgray,gray,darkgray);
}
p:hover{
    color:darkblue;
}
div{
    display:block;
}
#cap{
    background: linear-gradient(darkblue);
}

button #next{
    align-self: center;
    background-color: darkgray;
    color:snow;
    width:77px;
}
button #prev{
    align-items: center;
    background-color: darkgray;
    color:snow;
    width:77px;
}
span{
    font-weight: bold;
}
