<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col">
            <div class="">
                <div class="card-body">
                    <h3 class="card-title mb-4">Register</h3>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">Spot On !</div>
                            <div class="invalid-feedback">Please enter Username</div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">Spot On !</div>
                            <div class="invalid-feedback">Please enter valid E-mail</div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">Spot On !</div>
                            <div class="invalid-feedback">Please enter Password</div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary bg-dark" style="border:2px solid white; margin-top: 15px;">Register</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">Spot On !</div>
        <div class="invalid-feedback">Please enter Username</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">Spot On !</div>
        <div class="invalid-feedback">Please enter valid E-mail</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">Spot On !</div>
        <div class="invalid-feedback">Please enter Password</div>
    </div>
    <button class="btn btn-success">Register</button>
</form> -->