<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<div class="row">
    <h1 class="text-center">New Food Junction</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/restaurants" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class = "form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="restaurant[title]" placeholder="Restaurant Title" required>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter Restaurant Title</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="restaurant[location]" placeholder="Restaurant Location" required>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter Restaurant Location</div>
            </div>
            <!-- <div class="mb-3">
                <input type="file" class="form-file-input" id="customFile" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text">Choose Image(s)</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="restaurant[image]" required>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter Restaurant Image Url</div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Restaurant Price / Person</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">&#8377;</span>
                <input type="text" class="form-control" placeholder="0.00" id="price" aria-label="price" aria-describedby="basic-addon1" name="restaurant[price]" required>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter Restaurant Price</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="restaurant[description]" required>Restaurant Description</textarea>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter Restaurant Description</div>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label class="input-group-text custom-file-label" for="image">Upload</label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="active">Open Hours</label>
                <input type="text" class="form-control" id="active" name="restaurant[active]" placeholder="Hours of Operation" required>
                <div class="valid-feedback">Spot On !</div>
                <div class="invalid-feedback">Please enter the hours of operation</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Restaurant</button>
            </div>
        </form>
        <a href="/restaurants" class="btn btn-sm btn-secondary font-weight-bold text-white mb-3">View Restaurants</a>
    </div>
</div>
